// fonts

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap");

// fonts

// Variables //

$fw-regular: 400;
$fw-medium: 500;

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 50%);
$color-black-opacity: rgba(0, 0, 0, 50%);

$color-black: #000;
$color-red: #ff0000;
$color-background: rgba(64, 96, 111, 30%);
$color-card-bg: rgba(100, 200, 228, 40%);
$color-card-list: rgba(105, 136, 159, 50%);
$btn-background: #0b1d2b;
// \ Variables //

// Additional

.night {
  color: $color-white;
  footer a {
    color: $color-white;
  }
}

.bg-color {
  background-color: $color-background;
  padding: 10px;
}

.active {
  color: $color-white;
}
.none {
  display: none;
}

.error {
  margin-top: 25px;
  background-color: $color-red;
  padding: 10px;
  border-radius: 10px;
}
// Additional

html,
body {
  min-height: 100vh;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  background-image: url(../images/back-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
.form {
  display: flex;
  margin-bottom: 30px;
  .input {
    color: $color-black;
    padding: 0px 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: $color-white-opacity;
    &::placeholder {
      color: $color-black;
    }
  }
  .form__btn {
    padding: 10px;
    background-color: $color-black-opacity;
    color: $color-white;
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s;
    &:hover {
      background-color: $color-red;
    }
  }
}
.card {
  background-color: $color-card-bg;
  padding: 40px;
  .future__day {
    padding: 15px;
  }
  .card__feels {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: baseline;
  }
  .card__list {
    display: flex;
    justify-content: center;
    padding: 10px;
    &-wrapper {
      display: flex;
      background-color: $color-card-list;
    }
    .information__item {
      background-color: $color-card-list;
    }
  }
  .card__city {
    font-size: 65px;
    font-weight: $fw-medium;
    margin-bottom: 30px;
  }
  .card__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    .card__information {
      margin-left: 30px;
      text-align: center;
      .card__value {
        font-size: 100px;
        sup {
          font-size: 50%;
        }
        sup.active {
          display: inline !important;
        }
        span {
          font-size: 80%;
        }
      }
      .information__item-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-bottom: 10px;
          height: 64px;
          max-height: 64px;
          max-width: 64px;
        }
      }
    }
  }

  .card__future {
    margin-top: 30px;
    .future__item {
      display: flex;
      align-items: center;
    }
    .future__item-element {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      img {
        margin-bottom: 5px;
        max-height: 64px;
        max-width: 64px;
      }
    }
  }
}
.footer {
  a {
    color: $color-black;
  }
  align-items: center;
  text-align: center;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
  .card__photo {
    width: 200px;
  }
  .information__item-element img {
    width: 50px;
  }
  .future__item-element img {
    width: 50px;
  }
}

@media (max-width: 530px) {
  .card__photo {
    display: none;
  }
  .card__information {
    margin-left: 0px !important;
  }
  .card__city {
    font-size: 60px !important;
  }
  .card__value {
    font-size: 90px !important;
  }
}

@media (max-width: 400px) {
  .input {
    width: 200px !important;
  }
  .card {
    padding: 20px !important;
  }
  .card__city {
    font-size: 50px !important;
  }
  .card__value {
    font-size: 80px !important;
  }
}

@media (max-width: 330px) {
  .input {
    width: 175px !important;
  }
  .card {
    padding: 5px !important;
  }
  .card__value {
    font-size: 70px !important;
  }
}

@media (max-height: 851px) {
  .form {
    margin-bottom: 15px !important;
  }
  .card__future {
    margin-top: 0px !important;
  }
  .card__city {
    font-size: 50px !important;
    margin-bottom: 0px !important;
  }
  .card__value {
    font-size: 80px !important;
  }
}

@media (max-height: 750px) {
  .form {
    margin-bottom: 10px !important;
    font-size: 12px;
    height: 32px;
  }
  .card__photo {
    display: none;
  }
  .card {
    padding: 5px !important;
  }
  .card__city {
    font-size: 42px !important;
  }
  .card__value {
    font-size: 62px !important;
  }
  .card__information {
    margin-left: 0px !important;
  }
  .information__item-element img {
    width: 45px !important;
  }
  .future__item-element img {
    width: 45px !important;
  }
  .form__btn {
    padding: 8px;
  }
}
