// fonts

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap");

// fonts

// Variables //

$fw-regular: 400;
$fw-medium: 500;

$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 50%);
$color-grey: #939393;
$color-orange: #fe8235;
$color-green: #7ffa8a;
$color-black: #000;
$color-background: rgba(64, 96, 111, 30%);
$color-card-bg: rgba(100, 200, 228, 40%);
$color-card-list: rgba(105, 136, 159, 50%);
$btn-background: #0b1d2b;
// \ Variables //

// Additional

.bg-color {
  background-color: $color-background;
  padding: 10px;
}

.active {
  color: $color-white;
}

// Additional

html,
body {
  min-height: 100vh;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  background-image: url(../images/back-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  min-height: 90vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
.form {
  display: flex;
  margin-top: 55px;
  .input {
    color: $color-black;
    padding: 0px 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: $color-white-opacity;
    &::placeholder {
      color: $color-black;
    }
  }
  .form__btn {
    padding: 10px;
    background-color: $color-white-opacity;
    color: $color-black;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid black;
    transition: 0.3s;
    &:hover {
      background-color: red;
    }
  }
}

.card {
  background-color: $color-card-bg;
  padding: 40px;
  margin: auto;
  .future__day {
    padding: 10px;
    transition: 0.3s;
    &:hover {
      background-color: $color-white;
    }
  }
  .card__list {
    display: flex;
    justify-content: center;
    padding: 10px;
    &-wrapper {
      display: flex;
      background-color: $color-card-list;
    }
    .information__item {
      background-color: $color-card-list;
    }
    li + li {
      padding: 0px 0px 0px 10px;
    }
  }
  .card__city {
    font-size: 65px;
    font-weight: $fw-medium;
    margin-bottom: 30px;
  }
  .card__weather {
    display: flex;
    justify-content: space-between;
    .card__information {
      margin-left: 30px;
      text-align: center;
      .card__value {
        font-size: 100px;
        sup {
          font-size: 50%;
        }
        sup.active {
          display: inline !important;
        }
        span {
          font-size: 80%;
        }
      }
      .information__item-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-bottom: 10px;
          max-height: 64px;
          max-width: 64px;
        }
      }
    }
  }

  .card__future {
    margin-top: 30px;
    .future__item {
      display: flex;
      align-items: center;
    }
    .future__item-element {
      display: flex;
      flex-direction: column;
      img {
        margin-bottom: 5px;
        max-height: 64px;
        max-width: 64px;
      }
    }
  }
}
.footer {
  align-items: center;
  text-align: center;
  margin-top: auto;
}
